.contenidoInterno__Colores
	min-height 50vh
.contenedorInterno__Color__Nombre
	font-weight: 100
	font-size: 0.9em
	text-transform: capitalize

.contenidoInterno__Colores
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap

.contenedorInterno__Color
	margin: 0.5em
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column

.contenedorInterno__Color__Muestra
	img
		border: 5px solid white