.form-control
	border-radius: 2px
	background: none
	color: white
.contenidoInterno__Formulario__selectorTipoCliente
	display: flex
	align-items: center
	color: #909090
	justify-content: space-around
	font-weight: 500
	input[type="checkbox"], input[type="radio"]
		display none
	:checked
		& + span
			color: $verdePrincipal
			transition: all 1s



