.form-control
	border-radius: 2px
	background: none
	color: white
.contenidoInterno__Formulario__selectorTipoProducto,.contenidoInterno__Formulario__selectorTipoCliente
	display: flex
	align-items: center
	color: #909090
	justify-content: space-around
	font-weight: 500
	label
		border 1px solid white
	input[type="checkbox"], input[type="radio"]
		display none
	:checked
		& + span
			color: $verdePrincipal
			transition: all 1s

.customFadeIn
	animation-name fade-in-up
.TipoCliente
	overflow hidden
.BotonesContactos
	display: flex
	align-items: center
	justify-content: center

.BotonContacto
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	margin-left: 1rem
	text-align: center
	font-size: smaller
.Boton_Icono
	width: 3rem
.BotonesContactos
	margin-bottom: 2rem


