.backgroundPicture
	min-height 100vh
	padding 7em 0 5em 0
.contenidoInterno
	background: rgba(0, 0, 0, 0.3);
	margin-left 0
	padding 1rem 0 1rem 0
	color #FFF
	min-height: 50vh
.TituloInterno
	background $verdePrincipal	
	font-size 1.3em
	text-transform uppercase
	color #FFF
	padding-left: 2rem;
	margin-bottom: 1.5em
.row
	width 100%
	margin: 0;
	padding-right: 1em;
.contenidoInterno__Contenido
	font-weight 100
	padding 2rem
	padding-right 0
	text-align justify
.contenidoInterno__Foto
	align-items: center;
	display: flex;
	justify-content: center;
.Logo
	padding 1em
	float left
.post-next
	text-align right
.indicators
	margin-top 1rem
	a
		color white
		border: solid 1px;
		padding: 0.5em;
.Ventana
	margin-bottom 2rem;

@media (max-width: 768px)
	.backgroundPicture
		padding 17em 0 5em 0
